<!DOCTYPE html>
<html>
    <head>
        <title>PETROLEO S.A</title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">

    </head>
    <body>

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><strong>PETROLEO S.A</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VENDER <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="file:///B:/Mis%20Doc/univalle/info/TEC/www/proyecto/templates/ventas/registar_venta.html">Registrar Venta</a></li>
                        <li><a href="file:///B:/Mis%20Doc/univalle/info/TEC/www/proyecto/templates/ventas/venta_listar.html">Ver Ventas</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="file:///B:/Mis%20Doc/univalle/info/TEC/www/proyecto/templates/clientes/clientes_agregar.html">Agregar Cliente</a></li>
                        <li><a href="file:///B:/Mis%20Doc/univalle/info/TEC/www/proyecto/templates/clientes/clientes_listar.html">Ver Clientes</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">COMPRAR <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="file:///B:/Mis%20Doc/univalle/info/TEC/www/proyecto/templates/compras/registrar_compra.html">Registrar Comprar</a></li>
                        <li><a href="file:///B:/Mis%20Doc/univalle/info/TEC/www/proyecto/templates/compras/comprar_listar.html">Ver Compras</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="file:///B:/Mis%20Doc/univalle/info/TEC/www/proyecto/templates/proveedor/proveedor_listar.html">Ver Provedores</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REPORTES <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Dinero Ganado</a></li>
                        <li><a href="#">Top 10 Mas Vendidos</a></li>
                        <li><a href="#">Top 10 Mas Utilidad</a></li>
                        <li><a href="#">Producto Menos Vendido</a></li>
                        <li><a href="#">Cantidad Compras</a></li>
                        <li><a href="#">Cantidad Ventas</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USUARIOS <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="file:///B:/Mis%20Doc/univalle/info/TEC/www/proyecto/templates/usuario/usuario_registrar.html">Crear Usuarios</a></li>
                        <li><a href="file:///B:/Mis%20Doc/univalle/info/TEC/www/proyecto/templates/usuario/usuario_listar.html">Listar Usuarios</a></li>
                      </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><strong>Salir</strong></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </na>

        <form class="form-horizontal" style=" height:600px; overflow: scroll;">
        <fieldset>

        <!-- Form Name -->
        <legend></legend>
        <h1>Registrar Cliente</h1>

        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Nombre:</label>  
            <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
              
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Cedula/Registro:</label>  
            <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
            </div>
          </div>


        <div class="form-group">
          <label class="col-md-4 control-label" for="button1id"></label>
          <div class="col-md-8">
            <button id="button1id" name="button1id" class="btn btn-primary">Agregar</button>
            <button id="button2id" name="button2id" class="btn btn-primary">Cancelar</button>
          </div>
        </div>


        </fieldset>
        </form>
    </body> 
</html>